body{
    margin: 0;
    padding: 0;
}
/* Header - Imagen de fondo, Color de texto, padding */
header{
    background-image: url(/images/poker-and-casino-playing-card-background-with-royal-flush-on-black-vector.jpg);
    background-size: cover; /* Hace que la imagen ocupe todo el header */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    color: #FFF;
    padding: 1rem;
    font-family: 'roboto', sans-serif;
    font-weight: 100;
}


/* Estilos para los iconos Redes Sociales */
header h3{
    font-family: 'roboto', sans-serif;
    font-weight: 100;
    font-size: 50px
}

header i{
    padding: 8px;
    color: #FFF;
}


/* Estilos para el nav */


nav ul {
    list-style: none; /* Quita los puntos de los li */
    padding: 0;
    margin: 0;
    display: flex; /* Hace que los li se alineen horizontalmente */
    justify-content: center;
}

nav ul li {
    margin-right: 1rem; /* Espacio entre los items */
}

nav ul li a {
    color: #fff;
    text-decoration: none; /* Quita el subrayado de los enlaces */
    padding: 0.5rem 1rem;
    display: block;
}

nav ul li a:hover {
    background-color: #575757; /* Color de fondo al pasar el ratón */
}